/* CSS related to page structuring, core portions (body etc) and whatever doesn't fit elsewhere */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-bg);
  width: auto;
}

main {
  min-height: 100vh;
}

nav {
  background-color: var(--color-secondary-bg);
  border-bottom: var(--color-main-blue) 2px solid;
  margin-bottom: 4em;
}

/* Color on anchor hover */
a:hover {
  background-color: var(--color-hover-bg);
}

footer {
  background-color: var(--color-secondary-bg);
  border-top: var(--color-main-blue) 2px solid;
  margin-top: 4em;
  text-align: center;
}

/* Used as a wrapper to center the content of the page. */
.page-content {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.projects-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 80vw;
}

.card {
  background-color: var(--color-secondary-bg);
  border: var(--color-main-blue) 1px solid;
  display: inline-block;
  padding: 1em;
  min-width: 45vw;
  min-height: 35vh;
  margin: 1em;
}

@media only screen and (max-width: 768px) {
  .projects-flexbox {
    flex-direction: column;
  }
  .card {
    min-width: 90vw;
    min-height: 20vh;
  }
}

iframe {
  margin: 1em;
}

.image-border {
  border: var(--color-main-border) 2px solid;
}

/* Used to make the list dots appear next to the entries instead of all the way to the left */
.ul-align {
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

/* Used for additional padding and margins, primarily between sections. Disabled black border for visualization when needed */
.container {
  /* border: black 2px solid; */
  margin-top: 3em;
  margin-bottom: 3em;
}

/* Flex container for the nav bar in the header */
.flex-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  align-items: center;
  font-size: 1.3em;
}

/* Padding for nav bar items to make the clickable div bigger. */
.nav-item {
  padding: 0.3em;
}


