/* VERSION SUBMITTED TO KODELOFTET */

/* CSS related to page structuring, core portions (body etc) and whatever doesn't fit elsewhere */

/* For easier sizing of elements overall */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-bg);
  width: auto;
}

/* Used as a wrapper to center the content of the page. */
.page-content {
  text-align: center;
  justify-content: center;
  margin: auto;
}

/* Flexbox used to contain the .card divs that represent projects that go on a single row in desktop view */
.projects-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 80vw;
}

/* Container used to make individual project entries stand out */
.card {
  background-color: var(--color-secondary-bg);
  border: var(--color-main-blue) 1px solid;
  display: inline-block;
  padding: 1em;
  min-width: 45vw;
  min-height: 35vh;
  margin: 1em;
}

/* 768px breakpoint media query */
@media only screen and (max-width: 768px) {
  .projects-flexbox {
    flex-direction: column;
  }
  .card {
    min-width: 90vw;
    min-height: 20vh;
  }
}

/* Class applied to the project thumbnail <img>s. Includes transition animation. */
.projects-thumb {
  margin: 0.5em;
  margin-top: 1em;
  max-width: 80vw;
  border: var(--color-main-border) 2px solid;
  box-shadow: 0px 0px 0px 5px var(--color-main-border);
  transition: box-shadow 0.6s linear;
}

/* Makes the border of .projects-thumb class expand on hover, and disables a:hover background-color */
.projects-thumb:hover {
  box-shadow: 0px 0px 0px 10px var(--color-main-border);
}

/* Class used on <a> elements that should not have a hover background */
.no-background:hover {
  background-color: transparent;
}


.image-border {
  border: var(--color-main-border) 2px solid;
}

/* Used to make the list dots appear next to the entries instead of all the way to the left */
.ul-align {
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

/* Used for additional padding and margins, primarily between sections. Disabled black border for visualization when needed */
.container {
  /* border: black 2px solid; */
  margin-top: 3em;
  margin-bottom: 3em;
}

/* Used to seperate <h3> elements more with a margin-top, for index.html specifcally */
.topmargin {
  margin-top: 2em;
}
