/* div-boxes and other things that will ONLY show up on the testing page */

/* Div-box with no box-sizing: border-box for testing */
.box-test-nosize {
  width: 50px;
  height: 50px;
  padding: 1.4em;
  margin: 3em;
  border: black 2px solid;
  background-color: red;
  /* box-sizing: border-box; */
}

/* Div-box WITH box-sizing: border-box for testing. */
.box-test-size {
  width: 50px;
  height: 50px;
  padding: 1.4em;
  margin: 3em;
  border: black 2px solid;
  background-color: red;
  box-sizing: border-box;
}

.linear-gradient-example1 {
  width: 100px;
  height: 100px;
  border: var(--color-main-blue) 1px solid;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  background-image: linear-gradient(#03d7fc, #f04848);
}

.linear-gradient-example2 {
  width: 100px;
  height: 100px;
  border: var(--color-main-blue) 1px solid;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  background-image: linear-gradient(to right, #03d7fc, #83f567, #f04848);
}

/* Flex container with margins, currently used for the boxtest on the testing page. */
.flex-container-boxtest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  margin: 3em;
}

/* Flex container for number boxes in the flextest testing page entry */
.flex-container-flextest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* Use of :nth-child to change the background corner of every odd divbox to a darker blue */
.flex-container-flextest > div:nth-child(odd) {
  background-color: #3d868b;
}

/* Styling for div children of .flex-container-flextest */
.flex-container-flextest > div {
  background-color: #7398c2;
  border: var(--color-main-blue) 1px solid;
  padding: 0.8em;
}

/* Card used for project entries and other entries. */
.card {
  border: var(--color-main-blue) 2px solid;
  display: inline-block;
  padding: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
}
