/* CSS for styling of text-related elements etc */

h1,
h2,
h3 {
  color: var(--color-text-heading);
}

p {
  margin: auto;
}

p,
li,
ul {
  color: var(--color-main-blue);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

label {
  color: var(--color-main-blue);
}

/* Used for bold text, to be used in places where strong is not expected. */
.bold {
  font-weight: bold;
}
