/* VERSION SUBMITTED TO KODELOFTET */

body {
  background-color: var(--color-primary-bg);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

select,
input {
  margin-right: 10px;
}

input:focus {
  outline-color: var(--color-main-blue);
}

/* 768px Media Query Breakpoint */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  select,
  input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
